@font-face {
    font-family: "RaphaelIcons";
    src: url('raphaelicons-webfont.woff');
}

.bgimage {
    background-image: url("rednblue.png");
    background-size: 100%;
}
.webfont {
    font-family: 'RaphaelIcons';
    font-size: 100px;
    line-height: 100px;
    color: #f52887;
}
